PORT=3000
SESSION_SECRET=CHANGE_TO_A_LONG_RANDOM_SECRET
ADMIN_PASSWORD=CHANGE_BEFORE_DEPLOYMENT
WHATSAPP_NUMBER=989219004975
BALE_USERNAME=H0zeyf
BALE_BOT_TOKEN=
WHATSAPP_PROVIDER_URL=
WHATSAPP_PROVIDER_TOKEN=
